<div class="col-md-12">
  
  <h2 class="text-center"> My posts </h2>
  
  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> Content </th>
        <th> Group Name </th>
        <th> Last Update </th>
      </tr>
    </thead>
    
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td> # </td>
          <td> <%= render_post_content(post) %> </td> 
          <td> <%= render_group_title(post.group.title) %> </td> 
          <td> <%= post.updated_at.to_s(:long) %> </td> 
          <td> <%= link_to("Edit", edit_group_post_path(post.group, post), 
          class: "btn btn-info btn-xs") %></td>
          <td> <%= link_to("Delete", group_post_path(post.group, post), 
          class: "btn btn-danger btn-xs", method: :delete, data: { 
          confirm: "Are you sure?" } )%> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>