<div class="col-md-12">
  
  <h2 class="text-center"> 我加入的討論版 </h2>
  
  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> Title </th>
        <th> Description </th>
        <th> Post Count </th>
        <th> Last Update </th>
      </tr>
    </thead>
    
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td> # </td>
          <td> <%= link_to render_group_title(group.title), group_path(group) %> </td> 
          <td> <%= group.description %> </td> 
          <td> <%= group.posts.size %> </td> 
          <td> <%= group.updated_at.to_s(:long) %> </td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>